<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="UTF-8">
        <title>The Perfect Waist Trainer</title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0;" name="viewport">

        <script id="loadcss">
(function(u,s){!function(e){"use strict";var n=function(n,t,o){var l,r=e.document,i=r.createElement("link");if(t)l=t;else{var a=(r.body||r.getElementsByTagName("head")[0]).childNodes;l=a[a.length-1]}var d=r.styleSheets;i.rel="stylesheet",i.href=n,i.media="only x",l.parentNode.insertBefore(i,t?l:l.nextSibling);var f=function(e){for(var n=i.href,t=d.length;t--;)if(d[t].href===n)return e();setTimeout(function(){f(e)})};return i.onloadcssdefined=f,f(function(){i.media=o||"all"}),i};"undefined"!=typeof module?module.exports=n:e.loadCSS=n}("undefined"!=typeof global?global:this);for(var i in u){loadCSS(u[i],s);}}
(['//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,700italic',
'static/css/reset.css',
'static/css/style.css',
'static/css/forms.css', 'static/css/packages.css'],document.getElementById("loadcss")));
</script>

        <script>
            function dater(){
                var dayNames = new Array("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday");
                var monthNames = new Array("January","February","March","April","May","June","July","August","September","October","November","December");
                var now = new Date();

                document.write(dayNames[now.getDay()] + ", " + monthNames[now.getMonth()] + " " + now.getDate() + ", " + now.getFullYear());
            }
        </script>



    </head>
    <body ontouchstart="" style='background-color:white;'>
        <div id="wrapper">
            <div id="main-fast">
                <b>Get Free Priority Shipping for a limited time</b>
            </div>
            <div style="padding-top:20px;width:100%;margin:0 auto;text-align:center;">
                <img src="static/images/logo.png" alt="" id="logo" style="max-width:160px;">
            </div>
            <div class="message">
                <div id="verify" class="">
                    <h1 style="margin-top:20px;">SELECT YOUR PACKAGE </h1>
                </div>
                <div class="list-deals">
                    <div class="deal-box smoothTrans">
                        <h3><span class='boldblack'>&nbsp;<span class='boldpink'>4x</span> WAIST TRAINERS</span> <br><span class='boldpink'>75% OFF DISCOUNT</span> </h3>
                        <div class="deal-tag smoothTrans"></div>
                        <div class="deal-top">
                            <div class="logo-square " tyle='font-size:12px;'>
                                <p class="packnum"></p>
                                <p class="packprice"> <span class="green" style=' font-family: &quot;Source Sans Pro&quot;, sans-serif;font-weight:600;font-size:12px;'>Total: $140.00 ($35.00 each)<br>FREE Shipping & Handling</span></p>
                            </div>
                            <div class="content2"><a href="https://theperfectwaisttrainer.com/order/?package=4">

                                <img src='static/images/4wt.jpg' style='width:80%;'></a>
                            </div>
                        </div><a href="https://theperfectwaisttrainer.com/order/?package=4">

                        <button class="btn button2" id='4'>Select This Package</button></a>
                        <div class="deal-footer smoothTrans" style="height:25px;">
                            <div class="deal-info">This is a limited time offer, while supplies last. Offer expires on
                                <script>dater();</script>
                            </div>
                        </div>
                    </div>
                    <div class="deal-box smoothTrans">
                        <h3><span class="boldblack">&nbsp;<span class="boldpink">3x</span> WAIST TRAINERS</span> <br><span class="boldpink">66% OFF DISCOUNT</span></h3>
                        <div class="deal-tag smoothTrans"></div>
                        <div class="deal-top">
                            <div class="logo-square " tyle='font-size:12px;'>
                                <p class="packnum"></p>
                                <p class="packprice"> <span class="green" style=' font-family: &quot;Source Sans Pro&quot;, sans-serif;font-weight:600;font-size:12px;'>Total: $120.00 ($40.00 each)<br>FREE Shipping & Handling</span></p>
                            </div>
                            <div class="content2"><a href="https://theperfectwaisttrainer.com/order/?package=3">

                                <img src='static/images/3wt.jpg' style='width:80%;'></a>
                            </div>
                        </div><a href="https://theperfectwaisttrainer.com/order/?package=3">

                        <button class="btn button2" id='3'>Select This Package</button></a>
                        <div class="deal-footer smoothTrans" style="height:25px;">
                            <div class="deal-info">This is a limited time offer, while supplies last. Offer expires on
                                <script>dater();</script>
                            </div>
                        </div>
                    </div>
                    <div class="deal-box smoothTrans">
                        <h3><span class="boldblack">&nbsp;<span class="boldpink">2x</span> WAIST TRAINERS</span> <br><span class="boldpink">50% OFF DISCOUNT</span></h3>
                        <div class="deal-tag smoothTrans"></div>
                        <div class="deal-top">
                            <div class="logo-square " tyle='font-size:12px;'>
                                <p class="packnum"></p>
                                <p class="packprice"> <span class="green" style=' font-family: &quot;Source Sans Pro&quot;, sans-serif;font-weight:600;font-size:12px;'>Total: $97.00 ($48.50 each)<br>FREE Shipping & Handling</span></p>
                            </div>
                            <div class="content2"><a href="https://theperfectwaisttrainer.com/order/?package=2">

                                <img src='static/images/2wt.jpg' style='width:80%;'></a>
                            </div>
                        </div>
<a href="https://theperfectwaisttrainer.com/order/?package=2">
                        <button class="btn button2" id='2'>Select This Package</button></a>
                        <div class="deal-footer smoothTrans" style="height:25px;">
                            <div class="deal-info">This is a limited time offer, while supplies last. Offer expires on
                                <script>dater();</script>
                            </div>
                        </div>
                    </div>
                    <div class="deal-box smoothTrans">
                        <h3><span class='boldblack'>&nbsp;<span class='boldpink'>1x</span> WAIST TRAINERS</span> <br><span class='boldpink'>35% OFF DISCOUNT</span> </h3>
                        <div class="deal-tag smoothTrans"></div>
                        <div class="deal-top">
                            <div class="logo-square " tyle='font-size:12px;'>
                                <p class="packnum"></p>
                                <p class="packprice"> <span class="green" style=' font-family: &quot;Source Sans Pro&quot;, sans-serif;font-weight:600;font-size:12px;'>Total: $56.00<br>FREE Shipping & Handling</span></p>
                            </div>
                            <div class="content2"><a href="https://theperfectwaisttrainer.com/order/?package=1">

                                <img src='static/images/wt.jpg' style='width:80%;'></a>
                            </div>
                        </div><a href="https://theperfectwaisttrainer.com/order/?package=1">

                        <button class="btn button2" id='1'>Select This Package</button></a>
                        <div class="deal-footer smoothTrans" style="height:25px;">
                            <div class="deal-info">This is a limited time offer, while supplies last. Offer expires on
                                <script>dater();</script>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="btm" style='background-color:white;'>
                    <div id="terms">
                        <p></p>
                    </div>
                    <footer class="after">
                        <ul>
                            <li>
                                <a href="terms.php" class="modalClick">TERMS</a> |
                            </li>
                            <li>
                                <a href="privacy.php" class="modalClick">PRIVACY POLICY</a> |
                            </li>
                            <li>
                                <a href="contact.php" class="modalClick">CONTACT US</a> |
                            </li>
                            <li>
                                <a href="disclimer.php" class="modalClick">DISCLAIMER</a>
                            </li>
                        </ul>
                        <p>© The Perfect Waist Trainer 2016</p>
                    </footer>
                </div>
            </div>
            <script src="static/js/jquery-1.11.0.min.js"></script>
            <script src="static/js/packages.js"></script>

        </body>
    </html>